<h2>New Comment</h2>
<%= form_with(model: @comment, url: user_post_comments_path(user_id: @user.id, post_id: @post.id), local: true) do |f| %>
<%= f.label :text, 'Content'%>
<%= f.text_area :text %><br />
<%= f.submit "Add comment" %>
<% end %>
