<section class="users-container">
<ul>
<% @users.each do |user|%>
<li class="user-li">
<a href="<%= user_path(:id => user.id) %>">
  <div class="user-card">
    <div class="image-container">
    <img src = <%= user.photo %>>
    </div>
    <h2><%= user.name %></h2>
  </div>
  <p class="post-count">Number of Posts:<%= user.posts_counter%></p>
  </a>
</li>
<% end %>

</ul>

</section>