<h1>All Users</h1>
<% @users.each do |user| %>
  <div>
  <% if user.photo.present? %>
    <div><%= image_tag(user.photo, width:200) %></div>
  <% end %>  
   <%= link_to(user_path(user)) do %>
  <div><%= user.name %></div>
  <% end %>
  <div>Number of Posts: <%= user.posts_counter %></div>
  </div>
<% end %>